@font-face{
  font-family: Georgia;
  src:url('../fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner {
  position: absolute;
  font-size: 2vw;
  top: 90%;
  left: 40%;
  margin: 0 auto;
  color: white;
}

.content {
  flex: 1 0 auto;
}

header {
  display: flex;
  height: 670px;
  background: url(../img/1.jpg) no-repeat center center;
  background-size: cover;
}

.background-header1 {
  display: flex;
  width: 66%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.background-header2 {
  width: 34%;
  height: 100%;
  background: rgba(253, 207, 1, 0.5);
}

.decorate-header {
  display: flex;
  height: 270px;
  margin-top: -70px;
}

.decorate-header1 {
  width: 70%;
  background: white;
  -o-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -webkit-transform: skewY(6deg);
  transform: skewY(6deg);
}

.decorate-header2 {
  width: 30%;
  height: 100%;
  margin-top: 2.1%;
  background: white;
  -o-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
}

.logo {
  position: absolute;
  font-size: 1vw;
  width: 30vw;
  top: 4%;
  left: 5%;
  color: rgb(243, 204, 31);
}

.header-string1 {
  width: 9%;
  height: 0.5vw;
  margin-top: 1vw;
  background-color: rgb(243, 204, 31);
}

nav {
  position: absolute;
  left: 45%;
  top: 4%;
  font-size: 1vw;
}

.menu-icon {
	display: none;
  font-size: 40px;
  color: black;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none;
}

ul.menu > li, ul.menu > li {
  width: 12.5%;
  float: left;
  position: relative;
}

ul.menu > li > a {
  display: block;
  padding: 0.6vw;
  color: black;
  font-weight: 900;
  background-color: rgb(243, 204, 31);
  text-decoration: none;
}

ul.menu > .other-color > a {
  display: block;
  padding: 0.6vw;
  color: rgb(243, 204, 31);
  font-weight: 900;
  background-color: black;
  text-decoration: none;
}

ul.submenu1, ul.submenu2 {
  display: none;
  position: absolute;
  width: 120px;
  top: 37px;
  left: 0;
}

ul.submenu1 > li, ul.submenu2 > li {
  display: block;
}

ul.submenu1 > li > a {
  display: block;
  padding: 10px;
  color: rgb(243, 204, 31);
  background-color: black;
  text-decoration: none;
}

ul.submenu2 > li > a {
  display: block;
  padding: 10px;
  color: black;
  background-color: rgb(243, 204, 31);
  text-decoration: none;
}

ul.submenu1 > li > a:hover, ul.submenu2 > li > a:hover {
  text-decoration: underline;
}

ul.menu > li:hover > ul.submenu1, ul.menu > li:hover > ul.submenu2 {
  display: block;
}

.description {
  position: absolute;
  margin-top: 330px;
  color: rgb(243, 204, 31);
  margin-left: 40.5%;
}

.description > h1 {
  margin-right: 65%;
  display: block;
  font-size: 2vw;
  float: right;
}

.description > p {
  font-weight: 900;
  font-size: 5vw;
  float: right;
}

.header-string2 {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 3%;
  height: 6.6vw;
  background-color: rgb(243, 204, 31);
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.information {z-index: 3;}

.information > h1 {
  margin: 0 auto;
  text-align: center;
}

.main-string1 {
  width: 200px;
  height: 5px;
  background-color: rgb(243, 204, 31);
  margin: 40px auto 0;
}

.main-string2 {
  width: 50px;
  height: 10px;
  background-color: rgb(243, 204, 31);
  margin: 0 auto;
}

.information > p {
  width: 85%;
  text-align: center;
  margin: 20px auto 0;
}

.decorate-footer {
  display: flex;
  height: 270px;
  margin-bottom: -70px;
}

.decorate-footer1 {
  width: 30%;
  margin-bottom: 2.1%;
  background: white;
  -o-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
}

.decorate-footer2 {
  width: 70%;
  background: white;
  -o-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -webkit-transform: skewY(6deg);
  transform: skewY(6deg);
}

footer {
  flex: 0 0 auto;
  display: flex;
  height: 670px;
  background: url(../img/2.jpg) no-repeat center center;
  background-size: cover;
  overflow-x: hidden;
}

.background-footer {
  width: 100%;
  background: rgba(7, 7, 7, 0.8);
}

.background-footer > h1 {
  margin-top: 80px;
  text-align: center;
  color: white;
}

.background-footer > p {
  width: 56%;
  text-align: center;
  margin: 20px auto 50px;
  color: rgb(189, 189, 189);
}

input, textarea {
  width: 40%;
  height: 30px;
  padding: 0 1%;
  margin: 15px 29%;
  border: 1px solid rgb(189, 189, 189);
  background: rgba(7, 7, 7, 0.1);
  color: rgb(189, 189, 189);
}

textarea {
  height: 80px;
  padding-top: 7px;
  font-size: 14px;
}

input[type=submit] {
  width: 42%;
  font-weight: 900;
  border: none;
  cursor: pointer;
  background-color: rgb(243, 204, 31);
  color: black;
}

input[type=submit]:hover {
  background-color: black;
  color: rgb(243, 204, 31);
}

@media (max-width: 992px) {
  .background-header1, .background-header2 {width: 50%;}
  .logo {margin-left: 5%;}
  nav {
    display: block;
    left: 85%;
    top: 2%;
  }
  .menu-icon {display:inline-block;}
	nav ul.menu, nav:active ul.menu {display: none;}
	nav li {text-align: center;}
	nav:hover ul.menu {
    display: block;
    position: static;
    margin-left: -50px;
  }
  ul.menu > li {
    width: 100%;
  }
  ul.menu > li > a, ul.menu > .other-color > a {
    display: inline-block;
    font-size: 12px;
    padding: 10px 20px;
    color: rgb(243, 204, 31);
    background-color: black;
  }
  ul.menu > li > a:hover, ul.menu > .other-color > a:hover {
    color: black;
    background-color: rgb(243, 204, 31);
  }
  ul.submenu1, ul.submenu2 {
    position: initial;
    width: 70%;
  }
  ul.submenu1 > li > a {
    font-size: 14px;
    font-weight: 900;
    padding: 10px;
    color: black;
    background-color: rgb(243, 204, 31);
  }
  ul.submenu1 > li > a:hover, ul.submenu2 > li > a:hover {
    color: rgb(243, 204, 31);
    background-color: black;
  }
  .description {margin-left: 24.5%;}
  .decorate-header {height: 120px;}
  .decorate-header1 {width: 95%;}
  .decorate-header2 {
    width: 5%;
    margin-top: 4.7%;
  }
  .information > h1 {margin-top: 20px;}
  .information > p {
    width: 90%;
    margin-bottom: 35px;
  }
  .decorate-footer {
    height: 95px;
    margin-bottom: -40px;
    margin-left: -30%;
  }
  footer {background: url(../img/2.jpg) no-repeat left center;}
  .background-footer > p {
    width: 95%;
    margin-bottom: 10px;
  }
  input, textarea {
    width: 90%;
    margin: 15px 4%;
  }
  input[type=submit] {width: 92%;}
}
